.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* padding: 60px 0; */
}

.title {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.certificado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    width: 27.5rem;
}

@media (max-width: 400px) {
    .container {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .certificado {
        width: 100%;
    }
}
