.bonita {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 100px; */
    background-color: white;
    border-radius: 60px;
    padding: 25px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(45, 22, 22, 0.2);
}