.bonita {
    display: flex;
    width: 100%;
    max-width: 350px;
    flex-direction: column;
    margin: 10px 23px 0px;
    padding: 10px;
    transition: all 400ms ease;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);
}

.bonita:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
}

.image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    transition: 0.5s;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.4,0,0.2,1);
}

.image:hover img {
    transform: scale(1.08) rotate(-2deg);
}

.text {
    padding-top: 10px;
}

.title {
    font-size: 20px;
    color: #6a6a6a;
}

p {
    font-size: 15px;
    color: #4a4a4a;
}

.video {
    width: 100%;
    height: 210px;
}

.contenVideo {
    /* margin: 50px 0; */
    width: 400px;
    height: 250px;
    padding-top: 0;
    /* transition: 0.5s; */
}

.icon {
    color: black;
}

.tecnology {
    color: rgb(68, 65, 65);
    font-size: 35px;
    transition: all 400ms ease;
}

.link {
    color: rgb(68, 65, 65);
    font-size: 35px;
    transition: all 400ms ease;
}

icon-icon {
    color: black;
}

@media (max-width: 858px) {
    .bonita {
        width: 90vw;
        display: flex;
        max-width: 290px;  /* Opcional: ancho mínimo */
        box-shadow: none;
        margin: 10px 20px 0px;
        border: rgb(223, 212, 212) 1px solid;
        height: auto;
    }
}

@media (max-width: 650px) {
    .bonita {
        width: 90vw;
        display: flex;
        max-width: 350px;  /* Opcional: ancho mínimo */
        box-shadow: none;
        margin: 10px 20px 0px;
        border: rgb(223, 212, 212) 1px solid;
        height: auto;
    }
}

@media (max-width: 480px) {
    .bonita {
        width: 100%;
        margin: 10px 1.5px 0px;
        max-width: 240px;  /* Opcional: ancho mínimo */
        min-width: 10px;  /* Opcional: ancho mínimo */
        height: auto;
        border: rgb(217, 212, 212) 1px solid;
        box-shadow: none;
    }
    .bonita:hover {
        cursor: default;
        box-shadow: 2px 2px 2px 1px 2px rgba(0, 0, 0, 0.4);
        transform: translateY(-1%);
    }
    .image {
        width: 100%;
        height: 120px;
    }
    .contenVideo {
        margin: 50px 0;
    }
    .video {
        width: 450px;
        height: 10px;
        padding-bottom: 40px;
    }
}