.slick-slider {
  width: 100vw;
  /* max-width: 75rem; */
  min-height: 450px; /* Ajusta la altura mínima según sea necesario */
  /* margin: 0 auto; */
  display: flex;
  justify-items: center;
  align-items: center;
  }

.slick-slide > div {
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%;
}

.slick-list {
  display: flex;
  gap: 24px; /* Ajusta el espacio entre slides */
  /* padding: 10px 0; */
}

.slick-dots {
  bottom: -30px;
}

.slick-prev:before, .slick-next:before {
  color: #2563eb;
  font-size: 28px;
}

@media (max-width: 858px) {
  .slick-slider {
    max-width: 98vw;
  }
}

@media (max-width: 600px) {
  .slick-slider {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .slick-slider {
    max-width: 90vw;
  }
}
