.contenedor {
    padding-top: 200px;
    padding-bottom: 100px;
    background-color: #e3e3e3;
}

.technology {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    flex: 1;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .conteinerlogo {
    overflow: hidden;
} */

.logos {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* animation: move 10s ease-in infinite alternate; */
}

/* @keyframes move {
    25% {
        transform: translateY(-200px);
    }

    50% {
        transform: translateY(-400px);
    }

    75% {
        transform: translateY(-400px);
    }

    100% {
        transform: translateY(-600px);
    }

} */

.simbolos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.icons {
    font-size: 140px;
}