.inicio {
    background-image: url('../../assets/Cba1.jpg');
    width: 10ovw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    /* position: absolute; */
    /* background-position: 20%; */
    background-position: center center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 300px;
    border-radius: 100%;
    border: solid 2px;
    border-color: white;
    transition: .4s;
}

.image:hover {
    width: 320px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.link {
    text-decoration: none;
}

.title {
    color: rgb(242, 242, 242);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.3); /* fondo oscuro semitransparente */
    backdrop-filter: blur(8px);           /* aplica el blur al fondo */
    -webkit-backdrop-filter: blur(8px);   /* soporte en Safari */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.title:hover {
    font-size: 45px;
}

.subtitle {
    /* color: rgb(241, 233, 122); */
    color: rgb(242, 242, 242);
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.25); /* más transparente */
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    
    padding: 0.5rem 1rem;
    border-radius: 1rem;

    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.25); /* sombra amplia y suave */
    /* text-shadow: 
    4px 4px 4px rgba(0, 0, 0, 0.8),
    4px 4px 8px rgba(0, 0, 0, 0.6),
    1px 1px 2px rgba(0, 0, 0, 0.5); */
}

@media (max-width: 858px) {
    .image {
        width: 250px;
    }
    .image:hover {
        width: 270px;
    }
    .title {
        font-size: 35px;
    }
    .title:hover {
        font-size: 40px;
    }
    .subtitle {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .image {
        width: 200px;
    }
    .image:hover {
        width: 2200px;
    }
    .title {
        font-size: 20px;
    }
    .title:hover {
        font-size: 25px;
    }
    .subtitle {
        font-size: 15px;
    }
}

@media (max-width: 00px) {
    /* .inicio {
        width: 100vw;
    } */
    .image {
        width: 200px;
    }
    .image:hover {
        width: 2200px;
    }
    .title {
        font-size: 20px;
    }
    .title:hover {
        font-size: 25px;
    }
    .subtitle {
        font-size: 15px;
    }
}