.inicio {
    background-image: url('../../assets/cba4-new.jpg');
    width: 10ovw;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    /* position: absolute; */
    /* background-position: 20%; */
    background-position: center center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 300px;
    border-radius: 100%;
    border: solid 2px;
    border-color: white;
    transition: .4s;
}

.image:hover {
    width: 320px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.link {
    text-decoration: none;
}

.title {
    color: rgb(242, 242, 242);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    transition: .5s;
}

.title:hover {
    font-size: 45px;
}

.subtitle {
    color: rgb(241, 233, 122);
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 858px) {
    .image {
        width: 250px;
    }
    .image:hover {
        width: 270px;
    }
    .title {
        font-size: 35px;
    }
    .title:hover {
        font-size: 40px;
    }
    .subtitle {
        font-size: 25px;
    }
}

@media (max-width: 600px) {
    .image {
        width: 200px;
    }
    .image:hover {
        width: 2200px;
    }
    .title {
        font-size: 20px;
    }
    .title:hover {
        font-size: 25px;
    }
    .subtitle {
        font-size: 15px;
    }
}

@media (max-width: 00px) {
    /* .inicio {
        width: 100vw;
    } */
    .image {
        width: 200px;
    }
    .image:hover {
        width: 2200px;
    }
    .title {
        font-size: 20px;
    }
    .title:hover {
        font-size: 25px;
    }
    .subtitle {
        font-size: 15px;
    }
}