.conteiner {
    background-color: #222831;
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    height: 64px;
    color: white;
    letter-spacing: 4px;
    inset: 0 95% 0 0;
    z-index: 1;
}

.left {
    flex: 1;
    list-style: none;
    padding: 25px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    transition: 0.3s;
    font-weight: bold;
    list-style: none;
}

.lista {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
}

.fotohome {
    border-radius: 100%;
    width: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.fotohome:hover {
    width: 55px;
}

a {
    text-decoration: none;
    color: white;
    /* transition: .4s; */
}

.navItem .active {
    color: rgb(229, 155, 102);
}

.link {
    transition: .4s;
    border-radius: 6px;
}

.link:hover {
    font-size: 20px;
    cursor: pointer;
    color: rgb(229, 155, 102);
}

.link:active {
    /* padding-bottom: 12px; */
    color: rgb(229, 155, 102);
}

.checkbtn {
    color: white;
    display: none;
    cursor: pointer;
}

.icon {
    color: white;
    font-size: 30px;
}

.check {
    display: none;
}