.conteiner {
    position: fixed;
    width: 100vw;
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    z-index: 1;
}
.fotohome {
    border-radius: 100%;
    width: 50px;
    transition: 0.5s;
    cursor: pointer;
}
.fotohome:hover {
    width: 55px;
}
.burguer {
    display: none;
    color: white;
    z-index: 2;
}
.list {
    width: 100%;
    display: flex;
    justify-content: center;
    position: initial;
    margin: 0;
}
.link {
    color: white;
    text-decoration: none;
    margin-right: 1rem; 
    display: inline;
    cursor: pointer;
}
.link:hover {
    background: none;
    color: rgb(229, 155, 102);
}
.activeLink {
    color: rgb(229, 155, 102);
    text-decoration: none;
    margin-right: 1rem; 
    display: inline;
    cursor: pointer;
}

.darkMode {
    max-width: 50px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    margin-right: 1rem; 
    display: inline;
}

@media (max-width: 768px) { 
    .list {
        position: absolute;
        top: -700px;
        width: 5rem;
        left: -2000px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transition: all .9s ease;
    }
    .link {
        color: white;
        font-size: 2rem;
        display: block;
        margin: 2rem;
    }
    .link:hover,
    .link.active {
        background: none;
        color: rgb(229, 155, 102);
    }
    .active {
        width: 100%;
        display: block;
        position: absolute;
        z-index: 2;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transition: all .7s ease;
    }
    .burguer {
        display: flex;
        color: white;
        width: 100%;
        justify-content: flex-end;
        z-index: 2;
    }
    .bgDiv {
        position: absolute;
        background-color: #222831;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1;
        border-radius: 0 0 80% 0;
        transition: all .6s ease;
    }
    .bgDiv1 {
        /* display: none;   */
        top: -700px;
        left: -1000px;
    }
}

@media (max-width: 350px) { 
    .bgDiv {
        border-radius: 0 0 50% 0;
    }
}