.reviews {
    margin: 100px;
    height: 650px;
}

.conten {
    /* background-color: rgb(177, 169, 169); */
    border-radius: 15px;
    margin: 200px;
    padding-top: 20px;
}

.texto {
    letter-spacing: 1px;
    padding: 50px;
}

.fomurlario {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 25px;
    border-radius: 10px;
    border: 0;
    transition: .3s;
}

.name:hover {
    border: 2px solid rgb(45, 40, 40);
}

.coment {
    margin: 20px;
    border-radius: 10px;
    height: 100px;
    border: 0;
    transition: .4s;
}

.coment:hover {
    border: 2px solid rgb(45, 40, 40);
}

.btn {
    margin: 25px;
    border-radius: 10px;
    border: 0;
    transition: .4s;
    font-size: large;
}

.btn:hover {
    border: 2px solid rgb(45, 40, 40);
}

@media (max-width: 858px) {
    .reviews {
        margin: 0;
        padding: 0;
    }
    .conten {
        margin: 50px 50px 50px 50px;
    }
    .texto {
        font-size: 15px;
        padding: 25px 25px 25px 25px;
    }
    .name {
        margin: 20px 20px 20px 20px;
    }
    .coment {
        margin: 15px 15px 15px 15px;

    }
    .fomurlario {
        display: flex;
    }
    .btn {
        font-size: 15px;
        /* width: 20%; */
    }
}

@media (max-width: 600px) {

}