.slick-slider {
  width: 100%;
  /* min-width: 100%; */
  min-height: 450px;
  margin: 0 auto 0;
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

:global(.slick-list) {
  padding: 10px 0;
  overflow: hidden;
}

:global(.slick-track) {
  display: flex !important;
  align-items: stretch;
}

:global(.slick-slide) {
  height: auto;
  box-sizing: border-box;
}

:global(.slick-slide > div) {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 10px 20px;
  box-sizing: border-box;
}

:global(.slick-dots) {
  bottom: -30px;
}

:global(.slick-prev),
:global(.slick-next) {
  z-index: 2;
}

:global(.slick-prev:before), :global(.slick-next:before) {
  color: #2563eb;
  font-size: 28px;
}

@media (max-width: 858px) {
  .slick-slider {
    max-width: 98vw;
  }
}

@media (max-width: 600px) {
  .slick-slider {
    width: calc(100% - 36px);
  }
}

@media (max-width: 550px) {
  .slick-slider {
    width: calc(100% - 32px);
  }

  :global(.slick-slide > div) {
    padding: 0 0 20px;
  }
}

@media (max-width: 400px) {
 .slick-slider {
  min-height: 400px;

  }

}













