.about {
    padding: 80px 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 80px 60px 80px;
    list-style: none;
    border-radius: 20px; 
    display: flex;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(97, 74, 74, 0.2);
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: initial;
    /* transition: 350ms; */
    /* animation-name: tranparente;
    animation-duration: 2000ms; */
    cursor: pointer;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fadeIn 0.9s ease-in-out;
  }
  
  .fadeOut {
    animation: fadeOut 0.9s ease-in-out;
  }
  
/* @keyframes tranparente {
    0%{display: flex;}
    100%{display: none;}
} */

.container:hover {
    border-radius: 0.3125rem;
    box-shadow: 0px 100px 80px 0px rgba(33, 42, 42, 0.07), 0px 41.778px 33.422px 0px rgba(33, 42, 42, 0.07), 0px 22.336px 17.869px 0px rgba(33, 42, 42, 0.07), 0px 12.522px 10.017px 0px rgba(33, 42, 42, 0.07), 0px 6.65px 5.32px 0px rgba(33, 42, 42, 0.07), 0px 2.767px 2.214px 0px rgba(33, 42, 42, 0.07);
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.aboutContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profilePicContainer {
    flex: 1;
    max-width: 300px;
}

.profilePic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.bioContainer {
    flex: 1;
    padding: 0 20px;
}

.bioContainer p {
    margin-bottom: 20px;
}

@media (max-width: 858px) {
    .about {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 10px;
    }
    .title {
        font-size: 30px;
    }
    .container {
        padding: 20px 60px 20px 60px;
    }
    .bioContainer {
        margin-right: 0;
        padding: 0 0 0 15px;
    }
    .textH4 {
        font-size: 17px;
    }
    .profilePic {
        width: 250px;
    }
}

@media (max-width: 600px) {
    .textH4 {
        font-size: 15px;
    }
    .profilePic {
        width: 200px;
    }
}

@media (max-width: 480px) {
    .container {
        display: block;
        padding: 10px 40px 10px 40px;
    }
    .title {
        font-size: 25px;
    }
    .textH4 {
        font-size: 12px;
    }
    .profilePic {
        width: 120px;
    }
}



/* .about {
    background-color: #e3e3e3;
    padding-top: 20px;
    margin: 60px;
}

.conteiner {
    list-style: none;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(97, 74, 74, 0.2);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;    
    border-radius: 6px;
    box-shadow: 10px 10px 40px #000;
    flex: 1;
    list-style: none;
    padding: 25px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(243, 243, 243, 0.2);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;    
} */

/* .link{
    text-decoration: none;
    color: blue;
} */